*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hide{
    display: none;  
}
.active{
    background-color: lightcoral !important;
    color: red !important;
    display: block;
    height: 10vh;
}
.container{   
    position: relative;
    background-color: lightseagreen;
    height: 100vh;
}
.element{
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    background-color: rgb(93, 231, 167);
    border-radius: 25px;
    width: 400px;
    height: 300px;
}
#btn{
    background-color: #28b2aa;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 7px;
}
#resettbtn{
    background-color:#28b2aa ;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 1px solid ;
}